@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Postalov Team</h1>
    <p class="lead">Официална уеб страница на Postalov Team Kangojump и #PostArt Танцов клуб.</p>
    <p><a href="/About" class="btn btn-primary btn-lg">Повече &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Youtube</h2>
        <p>
            Можете да разгледате Youtube канала, където ще намерите видеа на №PostArt Танцов клуб.
        </p>
        <p><a class="btn btn-default" href="https://www.youtube.com/channel/UCwcRKPylXdIlHN-Bh3Rk7WA">Към Youtube &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Магазин</h2>
        <p>Разгледайте и заявате, някой от нашите продукти. Имате възможност да изберате сред най-добрите продукти на пазара</p>
        <p><a class="btn btn-default" href="/Store">Магазин &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Защо Postalov Team</h2>
        <p>Разгледайте нашата галерия с хора, избрали Postalov Team, за да постигнат перфектното си тяло</p>
        <p><a class="btn btn-default" href="/Gallery">Галерия &raquo;</a></p>
    </div>
</div>

<div class="row">
    <iframe width="100%" height="400" src="https://www.youtube.com/embed/SoE-9DfPCWg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>