@model IEnumerable<PostalovTeam.Models.Product>

<h2>Количка</h2>

@foreach (var product in Model)
{
<div class="col-md-3 jumbotron">
    <h3>@Html.ActionLink(product.Name, "Product", "Store", new { productId = product.ProductId }, null)</h3>

    @if (product.File != null)
    {
        var base64 = Convert.ToBase64String(product.File.Content);
        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
        <img src="@imgSrc" alt="No Image" height="200" width="200">
    }
    @Html.ActionLink("Премахни от количка", "ShoppingCart", "Store", new { actionId = 2, productId = product.ProductId }, null)
</div>
}
<div class="col-md-12"></div>