<h2>Клуб за български народни танци</h2>

<div class="jumbotron">
    <p>
        Няма как при наличието на детска танцова школа да нямаме и такава за възрастни. Нашите хореографи ще се погрижат и за родителите на децта, които танцуват. Професионално подготвените ни служители ще ви разяснят най-малките подробности в изучаването и усвояването на автентични български хорца.<br />
        В нашите часове ще се научите не само да танцувате, а и да разпознавате различните музикални области, изключително разнообразните тактови размери и да правите подходящия синтез между всички изброени.<br />
        В програмата ни са заложени всички популярни фолклорни хорца, както и много не толкова познати, но достатъчно сложни за изучаване. Заниманията ще провеждаме в две групи /начинаещи и напреднали/, като няма ограничение във възрастовата граница. Най-важното е да имате желание да танцувате под ритъма на нашата българска музика, всичко останало е нашето умение да ви обучим.<br />
        Развитието на клуба за народни танци е свързано и с участие в надигравания на непрофесионални групи, самодейни фестивали и всички големи фолклорни събития /Жеравна; Рожен; Копривщица и т.н./. Ще организираме и лагери за любителите на народни танци с гости хореографи, на едни от най-подходящите места в България, които са битови, носят определена емоция и дух.<br />
        Ако желаете да се включите в нашия клуб е необходимо малко желание, удобни обувки и присъствие в залата ни!
    </p>

    @Html.ActionLink("<- Назад", "Index", "PostArt")
</div>

