<h2>Танцов Театър</h2>

<div class="jumbotron">
    <p>
        Арторганизацията е създадена от Марио Посталов през есента на 2018г. Идеята е да се превърне във възродително движение на българската самодейност от преди 1990г. Изпълнителите са самодейни танцьори-любители, чиято основна двигателна сила е любовта и уважението към българския фолклор.<br />
        Наподобяващо ансанбъл по структура, различно заради вида танцови произведения и тяхната тематика, но и достатъчно лесно смилаеми за широка аудитория, този танцов театър е сам по себе си нещо ново, различно и търсено. С течение на времето най-бързо и сигурно се погубват българските традиции и обичаи. Целта ни е да се предава народното творчество, съхранявано през вековете битуване, робство и демокрация, без да се влияем от външни фактори.<br />
        Освен сценичните си изяви по различни конкурси и фестивали, като предлагана услуга са и участия на частни партита, сватби и всякакви други поводи, които имат нужда от тематично оформена изненада, която да е изготвена специално за клиента и по негови изисквания и идеи. Лимитираните танцови форми, които се предоставят, са само за конкретния повод – сватба, фирмено парти и др.<br />
        От друга страна организацията поддържа и богат репертоар от стандартни танцови форми, дивертисменти, обичаи и тематични танци. Всяко едно движение от тях е характерно и автентично, обработено за сцена както и добре подбрано. Освен българския език и християнската вяра, през вековете ни е спомогнал и автентичният български фолклор във всички негови проявления /песни, танци, обичаи, традиции/, да се самозапазим като нация.<br />
        Бъдете истински българи, ИЗЖИВЕЙТЕ ТАНЦА, станете част от нас,  за по-добро възпитание на поколенията!<br />
        <br />
        PostArt – Изживей танца
    </p>

    @Html.ActionLink("<- Назад", "Index", "PostArt")
</div>