<h2>Ръкотворничка</h2>

<div class="jumbotron">
    <p>
        Отделили сме време и място на приложните занаяти, които винаги са били част от нашия бит и ежедневие преди индустриализацията на производството. Много десетилетия назад във времето всичко, което българите сме използвали е било ръчно изработвано /чаши, гърнета, черги, дървени мебели, грънци, везане, гайтани по ръчно шитите носии и т.н./. Това за огромно наше съжаление го знаем само по-възрастните, а малките?<br />
        Като основна мисия на нашата PostArt - Ръкотворничка е да покажем и научим малките как се тъче на стан, как се правят грънци, как се боядисват айца, как се плетат мартенички, как се  пришиват гайтани и много други български обичаи, които с времето се променят и механизират. Кои други, ако не ние самите да им обясним как е било в миналото? Трудно е да разчитаме, че в училище ще ги научат, а още повече да им покажат нагледно!<br />
        Всяко едно ръкоделие ще правим част от нашия интериор в арт залата, което ще допринесе за уюта и визуализацията на дейсностите.<br />
        Ако искате вашето дете да е сръчно,  да му бъде насочено вниманието към българските занаяти, то запишете го при нас. Ние ще се погрижим да му е интересно и възпитателно!
    </p>

    @Html.ActionLink("<- Назад", "Index", "PostArt")
</div>

