<h2>Детска вокална школа</h2>

<div class="jumbotron">
    <p>
        Народната песен е реална история, препредавана през вековете от поколение на поколение. Много от народното творчество е толкова добре съхранено с песни, че няма как да направим друг аналог. А и какво по-въздействащо има от една стрхотно изпълнена автентична песен!?<br />
        Детската ни вокална школа е част от арт течението “PostArt” и нейна основна мисия е да научи малчуганите на някои от най-значимите ни български народни песни. Вокалните ни специалисти ще се погрижат за тяхното развитие, обучение и излизане на сцена.<br />
        Заниманията ни ще се провеждат в две възрастови групи: 6 до 8-годишни и 8 до 16-годишни. Сами по себе си те ще бъдат съобразени с всички изисквания за владеене на вокалното изкуство (майсторство):<br />
        <br />
        1.	Упражнения за разпяване<br />
        2.	Запознаване и научаване на богат (широк) репертоар от песни от различните фолклорни области<br />
        3.	Поддържане на хигиена на гласа<br />
        4.	Специфики на народната постановка и звукоизвличането<br />
        5.	Техники на дишане<br />
        6.	Структура на гласовия апарат – гласни струни, естествени резонатори и т.н.<br />
        <br />
        Щом подозирате, че вашето дете има музикални зложби и искате да ги развиете, то ние сме вашият избор!<br />
        Запишете се при нас, за да изненадаме вас!
    </p>

    @Html.ActionLink("<- Назад", "Index", "PostArt")
</div>

