<h2>Детска танцова школа</h2>

<div class="jumbotron">
    <p>
        Български народни танци е имало, има, и винаги ще има, ако зависи от нас. Част от нашия бит и култура са, изклщчително много ни отличават от всички други нации и най-вече са толмова разнообразни и интересни, че винаги имаме какво ново да научим.<br />
        Детската ни танцова школа се занимава с деца в две възрастови групи: 4-6 годишни и 6-12 годишни. В заниманията ни те ще изучават автентичен български фолклор под формата  на народни хора, както и обработени танцови форми-сценични танци.<br />
        Мисията на школата да е повиши интереса на децата към народните танци и да ги отдели поне малко от електронното и интернет ежедневието им. Освен всичко това е подходящо и за развиващите им се тела, защото какво по-хубаво от това да танцуват един час под ритъма на фолклорна музика.<br />
        Нашите хореографи ще се погрижат с необходимото внимание и подход да заобичат танците, да търсят подобен тип изяви, както и да нямат притеснение да застанат пред публика. Тези стъпки ще следваме докато не подготвим техни изпълнения, които да покажем на сцена, фестивал или детско надиграване.<br />
        Ако желаете вашето дете да танцува с нас, да заобича народната музика и да избяга от стереотипа, то Детска танцова школа “PostArt” е мястото, на което можете да се доверите!<br />
        Дечицата си доведете при нас, любовта към танца оставете на нас!!!
    </p>

    @Html.ActionLink("<- Назад", "Index", "PostArt")
</div>

