<h2>Театрална Школа</h2>

<div class="jumbotron">
    <p>
        Театралната школа е създадена като част от арт движението “PostArt”. Нейн основен реализатор е Валерия Минева.<br />
        Идеята на школата е запознаване на подрастващото поколение с тайните на театралното изкуство, похвати, поведение и подготовката на кадри за професионални школи, както и тяхното професионално израстване.<br />
        Школата работи с деца в две основни възрастови групи: 6-8 годишни и 8-12 годишни. Заниманията са изключително интерактивни, провокират участниците да мислят, мотивират ги да са изобретателни и оригинални в своите задачи. Това само по себе си е страхотен начин за възпитание и себеопознаване на всяко дете. Това не е детски център, а място за изкуство в неговите най-чисти форми!<br />
        За да направите вашето дете част от школата не е необходимо нищо друго освен предварително записване, останалото оставете на нас!
    </p>

    @Html.ActionLink("<- Назад", "Index", "PostArt")
</div>

