<h2>За мен</h2>

<div class="jumbotron">
    <p>Марио Посталов, основател на PostalovTeam. Лицензиран инструктор по Kangoo Jumps - Power. Дипломиран хореограф, специалност Български народни танци, магистър по Артмениджмънт и правоспособен юрист. Действащ инструктор групови дисциплини - Кangoo Jumps & Fat-Fight и др. Практикуващ различни стилове и експериментатор в залата. Зареждащи хореографии, мотивираща музика, излъчване и харизма са правилните качества, които притежава! Очакват Ви доста изгорени калории, страхотен ритъм и много емоции... Широката 5-годишна практика го е научила на много неща в работата с хора, изискващи максимален ефект от своите тренировки. Провеждащ индивидуални и засилени курсове с цел по-добри и сигурно резултати. Изготвящ хранителни и тренировъчни режими, както и тренировки за хора със специфични заболявания, травми и контузии. Кондиционните тренировки са също негова страст.</p>
</div>

<div class="row">
    <img class="col-md-3" src="~/Content/Images/61945063_681006699026960_3926954015379685376_n.jpg" />
    <img class="col-md-3" src="~/Content/Images/62084584_1151237591749700_1112606020988829696_n.jpg" />
    <img class="col-md-3" src="~/Content/Images/62259717_676374022827842_6026909052770975744_n.jpg" />
    <img class="col-md-3" src="~/Content/Images/62337919_2133879070237035_9171023966133813248_n.jpg" />
</div>