<h2>Fat-Fight</h2>

<div class="jumbotron">
    <p>
        Fat-Fight е форма на кардио бокс и аеробни упражнения. В днешно време тази тренировка става все по-модерен начин за изгаряне на излишните килограми и поддържане на добра физическа форма. Благодарение на интензивните движения по време на тренировка, Fat-Fight е ефективен спорт за тонизиране и стягане на голяма част от мускулните групи в тялото. Тренировките могат да подобрят баланса, гъвкавостта, координацията и дейността на сърдечно-съдовата система.<br />
        <br />
        <b>ПОЛЗИ ОТ Fat-Fight:</b><br />
        1. Подобрява функциите на сърцето и белите дробове<br />
        2. Горят се калории и се отслабва<br />
        3. Подобрява се координацията на цялото тяло<br />
        4. Подобрява се плътността на костите<br />
        5. Подобрява се стойката и силата/формата на коремните мускули<br />
        6. Придобива се самоувереност<br />
        <br />
        По принцип ритъмът, при който тялото изразходва най-много мазнини, е средно около 70-80% от максималния сърдечен ритъм.<br />
        Теоретично максималният сърдечен ритъм може да се изчисли по тази формула – за мъже: 220 – възрастта ви, за жени: 226 – възрастта ви (при тренировка поддържайте ритъм равен на 70-80% от резултата).<br />
        <br />
        Забележка: Когато говорим за средна стойност, имаме предвид, че може да се отклонявате под или над нея в различните етапи на тренировката. Сърдечният ритъм ще се адаптира към упражненията и ще се стабилизира.<br />
        От чисто здравословна гледна точка регулярното изпълнение на кардио тренировки води до:<br />
        1. Подобрена функция на сърдечно-съдовата и дихателната системи;<br />
        2. Повишена активност на имунната система, което означава по-малко болни дни в годината;<br />
        3. Понижен риск от рак, хипертония, атеросклероза, инсулинова резистентност и диабет и много други заболявания;<br />
        4. Изпълнени правилно, кардио тренировките по Fat-Fight спомагат също за мастното изгаряне, повишават издръжливостта и дават добро настроение. В по-продължителен период аеробните упражнения подобряват капиляризацията, което води до по-хубаво кръвонапълване на мускулите.<br />
    </p>
</div>

