@model PostalovTeam.Models.File

<div>
    <h2>ГРАФИК : </h2>
    @if (Model != null)
    {
        var base64 = Convert.ToBase64String(Model.Content);
        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
        <img src="@imgSrc" alt="No Image" class="schedulePhoto">
    }
       
    @if (User.IsInRole("Admin"))
    {
        using (Html.BeginForm("AddPhoto", "PostArt", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                <div class="form-group">
                    <div class="col-md-10">
                        <label>Снимка</label>
                        <br />
                        <input type="file" name="photo" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    }
</div>

